[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
django-extensions = "*"
uwsgi = "*"
django-rest-swagger = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
django-debug-toolbar = "*"
mypy = "*"
yapf = "*"
bpython = "*"
werkzeug = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
